<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/homepage/mainImage.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.homepage})"></div>

    <div class="content">
        <h2>메인이미지 수정</h2>
        <form th:action th:object="${mainImage}" method="post">
            <input type="hidden" th:field="*{id}">
            <table class="table_row">
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" th:field="*{title}" class="table_row_long_input"/>
                    </td>
                </tr>
                <tr>
                    <th>게시여부</th>
                    <td>
                        <select th:field="*{postYn}">
                            <option value="Y">게시</option>
                            <option value="N">미게시</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>게시순서</th>
                    <td>
                        <select th:field="*{sort}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>이미지</th>
                    <td>
                        <label for="file_input" class="file_btn">
                            <input type="file" id="file_input" name="file" class="only-input"
                                   onchange="$files.onlyInit(this, $('.filenames'))"/>
                        </label>
                        <div class="filenames">
                            <div class="file_wraper">
                                <button type="button" onclick="$files.removeFile(this)">제거</button>
                                <span th:text="*{originFilename}"></span>
                            </div>
                        </div>
                        <span class="comment">※ 최소 1920 x 930, 최대 3Mb 이하의 이미지 파일만 가능합니다.</span>
                    </td>
                </tr>
            </table>
        </form>

        <div class="btn_box">
            <button type="button" th:text="#{button.list}"
                    onclick="location.href='/admin/homepage/main-image'"></button>
            <button type="button" th:text="#{button.save}" onclick="pageObj.update()" class="btn_save"></button>
        </div>
    </div>
</section>
</body>
</html>
