<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/homepage/mainImage.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.homepage})"></div>

    <div class="content">
        <h2 th:text="#{menu.homepage.main-image}"></h2>

        <form th:action>
            <div class="all_search_box">
                <div th:replace="utils/searchBar :: searchDateWord"></div>
            </div>

            <table>
                <colgroup>
                    <col width="*" />
                    <col width="*" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="60%" />
                    <col width="10%" />
                </colgroup>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th class="table_num" th:text="#{label.no}">No</th>
                    <th th:text="#{homepage.main-image.postYn}">게시여부</th>
                    <th th:text="#{homepage.main-image.postSeq}">게시순서</th>
                    <th th:text="#{homepage.main-image.title}">제목</th>
                    <th th:text="#{homepage.main-image.regDt}">등록일시</th>
                </tr>

                <tr th:each="mainImage : ${result.content}">
                    <td class="table_chk">
                        <input type="checkbox" th:value="${mainImage.id}"/>
                    </td>
                    <td class="table_num" th:text="${result.totalElements - (result.pageable.offset + mainImageStat.index)}"></td>
                    <td th:text="${mainImage.postYn.description}"></td>
                    <td th:text="${mainImage.sort}"></td>
                    <td>
                        <a th:href="@{|/admin/homepage/main-image/${mainImage.id}/detail|}" th:text="${mainImage.title}"></a>
                    </td>
                    <td th:text="${mainImage.regDt}"></td>
                </tr>

                <tr th:if="${result.content.size eq 0}">
                    <td colspan="6" th:text="#{data.empty}" class="empty-td"></td>
                </tr>
            </table>

            <div th:replace="utils/pagination :: pagination(${result})"></div>

            <div class="btn_box">
                <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" class="btn_del">선택삭제</button>
                <button type="button" th:text="#{button.new}" onclick="location.href='/admin/homepage/main-image/add'" class="btn_new">등록</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
