<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form" th:object="${clients}">
    <form th:action>
        <div th:replace="utils/searchBar :: searchWord"></div>
    </form>

    <table>
        <colgroup>
            <col width="8%">
            <col width="40%">
            <col width="52%">
        </colgroup>
        <tr>
            <th></th>
            <th th:text="#{clients.clientNm}">단체명</th>
            <th th:text="#{clients.address}">주소</th>
        </tr>
        <tr th:each="client : ${result.content}">
            <th>
                <input type="radio" th:id="${client.id}" name="id" th:value="${client.id}" th:checked="${checked == client.id}">
                <label th:for="${client.id}"></label>
            </th>
            <th th:text="${client.clientNm}" th:id="clientNm + ${client.id}"></th>
            <th th:text="${client.address.roadAddress}"></th>
        </tr>
    </table>

    <div class="modal_btn_box">
        <button type="button" onclick="pageObj.select()" th:text="#{button.select.ok}" class="btn_new">선택완료</button>
    </div>
</div>

</body>
</html>