<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.training.inquiry})"></div>

    <div class="content">
        <h2 th:text="#{menu.training.inquiry}"></h2>

        <form th:action>
            <div th:replace="utils/searchBar :: searchDateWord"></div>
        </form>

        <table>
            <colgroup>
                <col width="2%">
                <col width="6%">
                <col width="20%">
                <col width="12%">
                <col width="10%">
                <col width="18%">
                <col width="18%">
                <col width="14%">
            </colgroup>
            <tr>
                <th class="table_chk">
                    <input type="checkbox" check="all">
                </th>
                <th th:text="#{label.no}">No</th>
                <th th:text="#{training.inquiry_records.clientNm}">단체명</th>
                <th th:text="#{training.inquiry_records.type}">구분</th>
                <th th:text="#{training.inquiry_records.createAt}">신규등록자</th>
                <th th:text="#{training.inquiry_records.createDt}">신규등록일자</th>
                <th th:text="#{training.inquiry_records.updateDt}">변경일자</th>
                <th th:text="#{training.inquiry_records.status}">상태</th>
            </tr>
            <tr th:each="inquiry : ${result.content}">
                <td>
                    <input type="checkbox" th:value="${inquiry.id}">
                </td>
                <td th:text="${result.totalElements - (result.pageable.offset + inquiryStat.index)}"></td>
                <td>
                    <a th:href="@{}" th:text="${inquiry.clients.clientNm}"/>
                </td>
                <td th:text="${inquiry.trainingInquiryType.description}"></td>
                <td th:text="${inquiry.createAt}"></td>
                <td th:text="${inquiry.createDt}"></td>
                <td th:text="${inquiry.updateDt}"></td>
                <td th:text="${inquiry.status.description}"></td>
            </tr>
        </table>

        <div class="btn_box">
            <button type="button" th:text="#{button.select.delete}" onclick="location.href='/employee/training/inquiry_records/delete'" class="btn_del">선택삭제</button>
            <button type="button" th:text="#{button.new}" onclick="location.href='/employee/training/inquiry_records/add'" class="btn_new">신규등록</button>
        </div>
    </div>
</section>
</body>
</html>