<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css}"/>
        <link rel="stylesheet" th:href="@{https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css}"/>
        <link rel="stylesheet" th:href="@{https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/toastCalendar/default.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/toastCalendar/icons.css}">
    </th:block>

    <th:block id="script">
        <script th:src="@{https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js}"></script>
        <script th:src="@{https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js}"></script>
        <script th:src="@{https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js}"></script>
        <script th:src="@{https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
        <script th:src="@{/js/schedule/schedule.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (|${scheduleTitle} 일정|)"></div>
    <div id="menu" style="position: relative;">
             <div class="calendar-left">
                 <input type="checkbox" class="tui-full-calendar-checkbox-round" value="4" checked=""><span style="border-color: #00a9ff; background-color: #00a9ff;"></span><span>찾아가는 학교수련</span>
                 <input type="checkbox" class="tui-full-calendar-checkbox-round" value="3" checked=""><span style="border-color: #03bd9e; background-color: #03bd9e;"></span><span>수련원 입교수련</span>
                 <input type="checkbox" class="tui-full-calendar-checkbox-round" value="2" checked=""><span style="border-color: #9e5fff; background-color: #9e5fff;"></span><span>개인일정</span>
                 <input type="checkbox" class="tui-full-calendar-checkbox-round" value="3" checked=""><span style="border-color: #000000; background-color: #000000;"></span><span>기타일정</span>
             </div>
            <div class="calendar-center">
                <button type="button" data-action="move-prev">
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <span id="renderRange" class="render-range"></span>
                <button type="button" data-action="move-next">
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </div>
            <div class="calendar-right">
                <button type="button"  data-action="move-today">Today</button>
                <button type="button"  data-action="toggle-monthly">월</button>
                <button type="button"  data-action="toggle-weeks2">주</button>
                <button type="button"  data-action="toggle-weeks3">일</button>
            </div>
            <div id="calendar" style="width: 99%; height: 800px"></div>
    </div>
</section>
</body>
</html>
