<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/homepage/data/webtoon/list.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <div class="sm_basic_wrap">
            <h2>만화퇴계 관리</h2>
            <div class="data_box">
                <a th:href="@{/promotion}">홍보 동영상</a>
                <a th:href="@{/webtoon}" class="list_on">만화퇴계</a>
            </div>
            <form th:action method="get" id="filter_form">
                <div class="searchInput">
                    <div class="flex justify-start align-center">
                        <div class="margin-r">
                            <input type="text" name="start" id="start"
                                   th:value="${filter.start}"
                                   class="datepicker context-menu border_sm_r basicInput02 paddingLeft_10"
                                   data-type="date"
                                   placeholder="시작날짜선택">
                        </div>
                        <div class="margin-r">~</div>
                        <div class="margin-r">
                            <input type="text"
                                   class="datepicker context-menu border_sm_r basicInput02 paddingLeft_10"
                                   data-type="date"
                                   name="end" id="end" th:value="${filter.end}" placeholder="종료날짜선택">
                        </div>
                        <button type="button" id="dateButton" class="sm-btn-darkblue border_sm_r marginRight5">조회</button>
                        <button type="button" id="initButton" class="sm-btn-white2 border_sm_r">초기화</button>
                    </div>
                    <div class="flex justify-end width-30">
                        <input type="text" name="filter"
                               class="basicInput02 width-85 borderLeftRadius paddingLeft_10" id="filter"
                               th:value="${filter.filter}">
                        <button type="button" id="filterButton"
                                class="filter_submit borderLeft_0 borderRightRadius width-15 bg-ashgray4 basicBtn02">
                            검색
                        </button>
                    </div>
                </div>
            </form>

            <div th:fragment="webtoonFrag" id="webtoonFrag">
                <table class="t-table">
                    <tr>
                        <colgroup>
                            <col width="3%">
                            <col width="7%">
                            <col width="60%">
                            <col width="15%">
                            <col width="15%">
                        </colgroup>
                    </tr>
                    <tr>
                        <th><input type="checkbox" id="all_check"></th>
                        <th>No.</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일시</th>
                    </tr>

                    <tr th:if="${webtoonList.getContent().size() == 0}">
                        <td colspan="5">일치하는 내용이 없습니다</td>
                    </tr>

                    <tr th:each="webtoon : ${webtoonList}">
                        <td>
                            <input type="checkbox" class="webtoon_delete" th:id="|delete_${webtoon.id}|">
                        </td>
                        <td th:text="${webtoonList.getTotalElements() - (webtoonList.number * webtoonList.size + webtoonStat.index)}"></td>
                        <td>
                            <a th:href="@{/webtoon/detail/{id}(id=${webtoon.id})}"
                               th:text="${webtoon.title}"></a>
                        </td>
                        <td th:text="${webtoon.author}"></td>
                        <td th:text="${webtoon.regDt}"></td>
                    </tr>
                </table>

                <div th:if="${webtoonList.getTotalPages() > 1}">
                    <div class="page-num"
                         th:with="start=${T(Math).floor(webtoonList.number/5)*5 + 1},
                                    end=(${(webtoonList.totalPages == 0) ? 1 : (start + 4 < webtoonList.totalPages ? start + 4 : webtoonList.totalPages)})">
                        <ul class="paging">
                            <li th:style="${webtoonList.first} ? 'display: none' : 'display: block'">
                                <a href="javascript:void(0)" onclick="ACTIONS.PAGE(1)"><<</a>
                            </li>

                            <li th:style="${webtoonList.first} ? 'display: none' : 'display: block'">
                                <a href="javascript:void(0)"
                                   th:onclick="ACTIONS.PAGE([[${webtoonList.number}]])"><</a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(start, end)}"
                                th:class="${webtoonList.number + 1 == page} ? 'paging_active' : ''">
                                <a href="javascript:void(0)" th:text="${page}"
                                   th:onclick="ACTIONS.PAGE([[${page}]])"></a>
                            </li>

                            <li th:style="${webtoonList.last} ? 'display: none' : 'display: block'">
                                <a href="javascript:void(0)"
                                   th:onclick="ACTIONS.PAGE([[${webtoonList.number + 2}]])">></a>
                            </li>

                            <li th:style="${webtoonList.last} ? 'display: none' : 'display: block'">
                                <a href="javascript:void(0)"
                                   th:onclick="ACTIONS.PAGE([[${webtoonList.totalPages}]])">>></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between margin-t paddingTop_10 margin-b paddingBottom">
            <button type="button" class="sm-btn-white border_sm_r width-5" onclick="ACTIONS.DELETE()">선택삭제</button>
            <a th:href="@{/webtoon/regist}" class="sm-btn-blue border_sm_r width-5 text-center">신규
                등록</a>
        </div>
    </div>
</section>
</body>
</html>