<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/mypage/admin.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.mypage.admin})"></div>
    <div class="content">
        <form th:action>
            <div class="admin_mypage">
                <dl>
                    <dt>새 비밀번호
                    <dd><input type="password" name="password"/></dd>

                    <dt>비밀번호 확인</dt>
                    <dd><input type="password" name="confirm"/></dd>
                </dl>
                <button type="button" onclick="pageObj.save()" th:text="#{button.save}" class="btn_edit"></button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
