<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
    <section>
        <div th:replace="layout/pageTitle :: pageTitle (#{menu.user})"></div>

        <div class="content">
            <h3 th:text="#{menu.user.educator}"></h3>

            <form th:action>
                <input type="password" name="password" />

                <input type="password" name="confirm" />
            </form>
        </div>
    </section>
</body>
</html>
