<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div>
        <span th:if="${type == 'ENTRY'}">입교 교육과목</span>
        <span th:if="${type == 'SCHOOL'}">학교 교육과목</span>
        <span th:if="${type == 'Explor'}">탐방지 교육과목</span>
    </div>

    <div>
        <input type="radio" name="type" value="입교"/>
        <input type="radio" name="type" value="학교"/>
        <input type="radio" name="type" value="탐방지"/>
    </div>
</section>
</body>
</html>
