<!DOCTYPE html>
<html th:fragment="layout (pageCss, pageScript, content)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>도산서원 업무관리시스템</title>

    <link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/earlyaccess/notosanskr.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">

    <!-- Page Css -->
    <th:block th:replace="${pageCss}"></th:block>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" src="../../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/smarteditor/js/service/HuskyEZCreator.js}" charset="UTF-8"></script>
    <script type="text/javascript" th:src="@{/js/nav.js}" src="../../static/js/nav.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}" src="../../static/js/common.js"></script>

    <!-- Page Script -->
    <th:block th:replace="${pageScript}"></th:block>
</head>
<body>
    <div class="wrap">
        <nav th:insert="layout/sidebar :: navigation"
             th:classappend="${#authorization.expression('hasRole(''ADMIN'')')?'nav_admin'
                :#authorization.expression('hasRole(''MANAGER'')')?'nav_manager':'nav_user'}"></nav>

        <div th:insert="${content}" class="container"></div>
    </div>
</body>
</html>
