<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="pageTitle (pageTitle)" class="page_title">
        <h1 th:text="${pageTitle}"></h1>

        <ul>
            <li>
                <em sec:authorize="hasRole('ROLE_ADMIN')">관리자</em>
                <em sec:authorize="hasRole('ROLE_MANAGER')">임직원</em>
                <em sec:authorize="hasRole('ROLE_USER')">지도위원</em>

                <span sec:authentication="principal.userNm"></span>님
            </li>
            <li><a th:href="@{/mypage/{userId}(userId=${#authentication.getName()})}">
                <img th:src="@{/images/common/member01.svg}" title="마이페이지">
            </a></li>
            <li><a th:href="@{/}"><img th:src="@{/images/common/alarm.svg}" title="알림"></a></li>
            <li><a th:href="@{/logout}"><img th:src="@{/images/common/logout.svg}" title="로그아웃"></a></li>
        </ul>
    </div>
</body>
</html>
