<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navigation">
        <!-- 임직원 -->
        <ul sec:authorize="hasAnyRole('MANAGER', 'SYSTEM')">
            <li>대시보드</li>
            <li>수련업무
                <ul>
                    <li>수련문의일지 관리</li>
                    <li>수련명부 관리</li>
                    <li>입교수련프로그램 관리</li>
                    <li>학교수련프로그램 관리</li>
                    <li>출력물 관리</li>
                </ul>
            </li>
            <li>수련 자료
                <ul>
                    <li>수련 협의자료</li>
                    <li>수련 운영자료</li>
                </ul>
            </li>
            <li>일정 관리
                <ul>
                    <li>이사장 일정</li>
                    <li>원장 일정</li>
                    <li>지도위원 일정</li>
                    <li>수련 일정</li>
                    <li>기타 일정</li>
                </ul>
            </li>
            <li>정산업무
                <ul>
                    <li>출장비 관리</li>
                    <li>강사료 관리</li>
                    <li>청구서 관리</li>
                </ul>
            </li>
            <li>고객등록</li>
            <li>설문조사
                <ul>
                    <li>입교수련 설문조사</li>
                    <li>학교수련 설문조사</li>
                </ul>
            </li>
            <li>통계자료</li>
            <li>공지사항</li>
            <li>자유게시판</li>
        </ul>

        <!-- 관리자 -->
        <ul sec:authorize="hasAnyRole('ADMIN', 'SYSTEM')">
            <li>대시보드</li>
            <li>일정관리
                <ul>
                    <li>이사장 일정</li>
                    <li>원장 일정</li>
                    <li>기타 일정</li>
                </ul>
            </li>
            <li>사용자 관리
                <ul>
                    <li>
                        <a th:href="@{/members/manager}">임직원 관리</a>
                    </li>
                    <li>
                        <a th:href="@{/members/user}">지도위원 관리</a>
                    </li>
                </ul>
            </li>
            <li>공지사항 관리</li>
            <li>자유게시판 관리</li>
            <li>사용이력 관리
                <ul>
                    <li>사용자 접속이력</li>
                    <li>데이터 저장이력</li>
                </ul>
            </li>
            <li>홈페이지 관리
                <ul>
                </ul>
            </li>
            <li>설정
                <ul>
                    <li>
                        <a th:href="@{/setting/seal}">직인관리</a>
                    </li>
                    <li>
                        <a th:href="@{/setting/crclm}">교육과정 관리</a>
                    </li>
                    <li>수련장소 관리</li>
                    <li>지부데이터 관리</li>
                    <li>지역데이터 관리</li>
                </ul>
            </li>
        </ul>


        <!-- 지도위원 -->
        <ul sec:authorize="hasAnyRole('USER', 'SYSTEM')">
            <li>대시보드</li>
            <li>일정관리
                <ul>
                    <li>개인 일정</li>
                    <li>수련 일정</li>
                </ul>
            </li>
            <li>수련자료
                <ul>
                    <li>수련 협의자료</li>
                    <li>수련 운영자료</li>
                    <li>지부 자료실</li>
                    <li>수업지도 자료실</li>
                </ul>
            </li>
            <li>회계업무</li>
            <li>공지사항</li>
            <li>자유게시판</li>
        </ul>
    </div>
</body>
</html>
