<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navigation">
    <!-- 임직원 -->
    <ul sec:authorize="hasRole('MANAGER')">
        <li class="logo"><img th:src="@{/images/common/logo.png}"></li>
        <li>
            <a th:href="@{/dashboard/manager}"><img th:src="@{/images/common/dashboard.svg}">대시보드</a>
        </li>
        <li class="nav_on"><span class="nav_list_title"><img th:src="@{/images/common/training.svg}">수련업무</span>
            <ul>
                <li class="nav_on_sub"><a th:href="@{/}">수련문의일지 관리</a></li>
                <li><a th:href="@{/}">수련명부 관리</a></li>
                <li><a th:href="@{/}">입교수련프로그램 관리</a></li>
                <li><a th:href="@{/}">학교수련프로그램 관리</a></li>
                <li><a th:href="@{/}">출력물 관리</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/day.svg}">수련 자료</span>
            <ul>
                <li><a th:href="@{/}">수련 협의자료</a></li>
                <li><a th:href="@{/}">수련 운영자료</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/calendar.svg}">일정 관리</span>
            <ul>
                <li><a th:href="@{/}">이사장 일정</a></li>
                <li><a th:href="@{/}">원장 일정</a></li>
                <li><a th:href="@{/}">지도위원 일정</a></li>
                <li><a th:href="@{/}">수련 일정</a></li>
                <li><a th:href="@{/}">기타 일정</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/calc.svg}">정산업무</span>
            <ul>
                <li><a th:href="@{/}">출장비 관리</a></li>
                <li><a th:href="@{/}">강사료 관리</a></li>
                <li><a th:href="@{/}">청구서 관리</a></li>
            </ul>
        </li>
        <li><a th:href="@{/}"><img th:src="@{/images/common/customer.svg}">고객등록</a></li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/survey.svg}">설문조사</span>
            <ul>
                <li><a th:href="@{/}">입교수련 설문조사</a></li>
                <li><a th:href="@{/}">학교수련 설문조사</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/statistics.svg}">통계자료</span>

        </li>
        <li>
            <a th:href="@{/templates/admin/notice}"><img th:src="@{/images/common/notice.svg}">공지사항</a>
        </li>
        <li>
            <a th:href="@{/templates/admin/board}"><img th:src="@{/images/common/free-notice.svg}" th:text="#{menu.board.list}"></a>
        </li>
    </ul>

    <!-- 관리자 -->
    <ul sec:authorize="hasRole('ADMIN')">
        <li class="logo"><img th:src="@{/images/common/logo.png}"></li>
        <li><a id="menu_dashboard" th:href="@{/admin/dashboard}"><img th:src="@{/images/common/dashboard.svg}">대시보드</a></li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/calendar.svg}">일정관리</span>
            <ul>
                <li><a id="menu_schedule_chairman" th:href="@{/admin/scheduleEtc/chairman}">이사장 일정</a></li>
                <li><a id="menu_schedule_director" th:href="@{/admin/scheduleEtc/director}">원장 일정</a></li>
                <li><a id="menu_schedule_etc" th:href="@{/admin/scheduleEtc/etc}">기타 일정</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/member.svg}">사용자 관리</span>
            <ul>
                <li>
                    <a id="menu_user_employees" th:href="@{/admin/user/employees}" th:text="#{menu.user.employee}">임직원 관리</a>
                </li>
                <li>
                    <a id="menu_user_educator" th:href="@{/admin/user/educators}" th:text="#{menu.user.educator}">지도위원 관리</a>
                </li>
                <li>
                    <a id="menu_user_educator" th:href="@{/admin/user/educator}" th:text="#{menu.user.leave}">휴직자 관리</a>
                </li>
                <li>
                    <a id="menu_user_educator" th:href="@{/admin/user/educator}" th:text="#{menu.user.retired}">퇴직자 관리</a>
                </li>
            </ul>
        </li>
        <li>
            <a id="menu_notice" th:href="@{/admin/notice}"><img th:src="@{/images/common/notice.svg}">공지사항 관리</a>
        </li>
        <li>
            <a id="menu_board" th:href="@{/admin/board}"><img th:src="@{/images/common/free-notice.svg}" th:text="#{menu.board}"></a>
        </li>
        <li>
            <a id="menu_history" th:href="@{/admin/usage-log}"><img th:src="@{/images/common/history.svg}">사용이력 관리</a>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/homepage.svg}" th:text="#{menu.homepage}"></span>
            <ul>
                <li><a id="menu_homepage_mainImage" th:href="@{/admin/homepage/main-image}" th:text="#{menu.homepage.main-image}">메인이미지 관리</a></li>
                <li><a id="menu_homepage_popup" th:href="@{/admin/homepage/popup}" th:text="#{menu.homepage.popup}">팝업 관리</a></li>
                <li><a id="menu_homepage_board" th:href="@{/admin/homepage/board/notice}" th:text="#{menu.homepage.board}">게시판 관리</a></li>
                <li><a id="menu_homepage_mediaArchive" th:href="@{/admin/homepage/media-archive/promotional-video}" th:text="#{menu.homepage.media-archive}">자료실 관리</a></li>
                <li><a id="menu_homepage_trainingInquiry" th:href="@{/admin/homepage/training-inquiry}" th:text="#{menu.homepage.training-inquiry}">수련상담신청</a></li>
                <li><a id="menu_homepage_trainingReview" th:href="@{/admin/homepage/training-review}" th:text="#{menu.homepage.training-review}">수련휴기 게시판</a></li>
                <li><a id="menu_homepage_qna" th:href="@{/admin/homepage/qna}" th:text="#{menu.homepage.qna}">문의 게시판</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/set.svg}" th:text="#{menu.setting}"></span>
            <ul>
                <li><a id="menu_signature" th:href="@{/templates/admin/setting/official_seal}" th:text="#{menu.officialSeal}">직인 관리</a></li>
                <li><a id="menu_course" th:href="@{/admin/setting/subject-code/entry}" th:text="#{menu.subjectCode}">교육과목 관리</a></li>
                <li><a id="menu_place" th:href="@{/admin/setting/place-code/training}" th:text="#{menu.placeCode}">수련장소 관리</a></li>
                <li><a id="menu_former" th:href="@{/admin/setting/former-job-code}" th:text="#{menu.formerCode}">전직 구분</a></li>
                <li><a id="menu_employees" th:href="@{/admin/setting/employee-code/type}" th:text="#{menu.employee}">임직원 설정</a></li>
                <li><a id="menu_educator" th:href="@{/admin/setting/educator-code/type}" th:text="#{menu.educator}">지도위원 설정</a></li>
            </ul>
        </li>
    </ul>

    <!-- 지도위원 -->
    <ul sec:authorize="hasRole('EDUCATOR')">
        <li class="logo"><img th:src="@{/images/common/logo.png}"></li>
        <li><a th:href="@{/}"><img th:src="@{/images/common/dashboard.svg}">대시보드</a></li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/calendar.svg}">일정관리</span>
            <ul>
                <li><a th:href="@{/}">개인 일정</a></li>
                <li><a th:href="@{/}">수련 일정</a></li>
            </ul>
        </li>
        <li><span class="nav_list_title"><img th:src="@{/images/common/day.svg}">수련자료</span>
            <ul>
                <li>
                    <a th:href="@{/templates/admin/user/training/data/consultation}">수련 협의자료</a>
                </li>
                <li>
                    <a th:href="@{/templates/admin/user/training/data/operation}">수련 운영자료</a>
                </li>
                <li>
                    <a th:href="@{/templates/admin/user/training/data/branch}">지부 자료실</a>
                </li>
                <li>
                    <a th:href="@{/templates/admin/user/training/data/lecture}">수업지도 자료실</a>
                </li>
            </ul>
        </li>
        <li><a th:href="@{/educator/business-trip-report}"><img th:src="@{/images/common/calc.svg}">출장보고서</a></li>
        <li><a th:href="@{/templates/admin/user/notice}"><img th:src="@{/images/common/notice.svg}">공지사항</a></li>
        <li>
            <a th:href="@{/templates/admin/board}"><img th:src="@{/images/common/free-notice.svg}" th:text="#{menu.board.list}"></a>
        </li>
    </ul>

    <div class="nav_off">
        <img th:src="@{/images/common/arrow.svg}">
    </div>
</div>
</body>
</html>
