<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/homepage/advice.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.homepage})"></div>

    <div class="content">
        <h2 th:text="#{menu.homepage.advice}"></h2>

        <form th:action>
            <div class="all_search_box">
                <div th:replace="utils/searchBar :: searchDateSelectWord(${types})"></div>
            </div>

            <table>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th class="table_num" th:text="#{label.no}">No</th>
                    <th th:text="#{homepage.advice.applicant.insttNm}">신청자명(단체명)</th>
                    <th th:text="#{homepage.advice.depart}">부서</th>
                    <th th:text="#{homepage.advice.phone}">연락처</th>
                    <th th:text="#{homepage.advice.adviceType}">신청구분</th>
                    <th th:text="#{homepage.advice.regDt}">등록일자</th>
                    <th th:text="#{homepage.advice.check}">확인</th>
                </tr>

                <tr th:each="advice : ${result.content}">
                    <td class="table_chk">
                        <input type="checkbox" th:value="${advice.id}"/>
                    </td>
                    <td class="table_num" th:text="${result.totalElements - (result.pageable.offset + adviceStat.index)}"></td>
                    <td>
                        <a href="#" th:text="|${advice.applicant}(${advice.insttNm})|"></a>
                    </td>
                    <td th:text="${advice.depart}"></td>
                    <td th:text="${advice.phone}"></td>
                    <td th:text="${advice.adviceType.description}"></td>
                    <td th:text="${advice.regDt}"></td>
                    <td>
                        <span th:if="${advice.status == 'Y'}">확인완료</span>
                        <button type="button" th:unless="${advice.status == 'Y'}" th:onclick="pageObj.check([[${advice.id}]])">미확인</button>
                    </td>
                </tr>

                <tr th:if="${result.content.size eq 0}">
                    <td colspan="8" th:text="#{data.empty}" class="empty-td"></td>
                </tr>

                <div th:replace="utils/pagination :: pagination(${result})"></div>

                <div class="btn_box">
                    <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" class="btn_del">
                        선택삭제
                    </button>
                </div>
            </table>
        </form>
    </div>
</section>
</body>
</html>
