<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div id="form" th:object="${course}">
        <div>
            <label>과목</label>
            <input type="text" th:field="*{subject}" />
            <span errors="subject"></span>
        </div>

        <div>
            <label>내용</label>
            <textarea th:field="*{content}" errorclass="test"/>
            <span errors="content"></span>
        </div>

        <button type="button" onclick="pageObj.save()">등록</button>
    </div>
</section>
</body>
</html>
