<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/setting/course.js}"></script>
    </th:block>
</head>
<body>
    <section>
        <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

        <div class="content">
            <h3 th:text="#{course}"></h3>
            <ul>
                <li th:each="type : ${courseTypes}">
                    <a th:href="@{|/setting/course/${#strings.toLowerCase(type.name())}|}"
                       th:text="${type.description}"></a>
                </li>
            </ul>

            <form th:action>
                <div th:replace="utils/searchBar :: searchBar"></div>

                <table>
                    <tr>
                        <th>
                            <input type="checkbox" check="all"/>
                        </th>
                        <th th:text="#{label.no}">No</th>
                        <th th:text="#{course.subject}">과목</th>
                        <th th:text="#{course.content}">내용</th>
                    </tr>

                    <tr th:each="course : ${result.content}">
                        <td>
                            <input type="checkbox" th:value="${course.id}"/>
                        </td>
                        <td th:text="${result.totalElements - (result.pageable.offset + courseStat.index)}"></td>
                        <td>
                            <a href="#" th:text="${course.subject}" th:onclick="|pageObj.openEditPage(${course.id})|"</a>
                        </td>
                        <td>
                            <div th:utext="${#strings.replace(course.content,'&#10;','&lt;br&gt;')}"></div>
                        </td>
                    </tr>
                </table>

                <nav th:replace="utils/pagination :: pagination(${result})"></nav>

                <div>
                    <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" >선택삭제</button>
                    <button type="button" th:text="#{button.new}" onclick="pageObj.openAddPage()" >등록</button>
                </div>
            </form>
        </div>

        <!-- Modal -->
        <div th:replace="utils/modal :: modal('modal')"></div>
    </section>
</body>
</html>
