<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div id="form" th:object="${course}">
        <input type="hidden" th:field="*{id}" />
        <div>
            <input type="text" th:field="*{subject}" />
            <span errors="subject"></span>
        </div>

        <div>
            <textarea th:field="*{content}" />
            <span errors="content"></span>
        </div>

        <button type="button" onclick="pageObj.edit()">수정</button>
    </div>
</section>
</body>
</html>
