<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/notice.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.notice})"></div>

    <div class="content">
        <form th:action method="post" th:object="${notice}">
            <table class="table_row">
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" th:field="*{title}" class="table_row_long_input" />
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td class="table_row_textarea">
                        <textarea th:field="*{content}" style="display: none"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <label for="file_input" class="file_btn">
                            <input type="file" id="file_input" class="file-input" multiple="multiple" />
                        </label>
                        <div class="filenames"></div>
                    </td>
                </tr>
            </table>

            <div class="btn_box">
                <button type="button" th:text="#{button.list}" onclick="location.href='/admin/notice'" class="btn_other">
                    목록
                </button>
                <button type="button" th:text="#{button.new}" onclick="pageObj.save()" class="btn_new">등록</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
