<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle ('공지사항')"></div>

    <table class="table_row">
        <tr>
            <th>제목</th>
            <td th:text="${notice.title}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${notice.content}"></td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td></td>
        </tr>
    </table>
    <button type="button" onclick="location.href='/notice'">목록</button>
    <button type="button" th:onclick="|location.href='@{/notice/{id}/edit(id=${notice.id})}'|">수정</button>
</section>
</body>
</html>
