<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/user/employees.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.user})"></div>

    <div class="content">
        <h2 th:text="#{menu.user.educator.detail}"></h2>

        <form th:action th:object="${educator}">

            <span>기본정보</span>
            <table class="table_row">
                <tr>
                    <th>아이디</th>
                    <td th:text="*{user.userId}"></td>
                    <th>패스워드</th>
                    <td>
                        <button>패스워드 초기화</button>
                    </td>
                    <th>이름</th>
                    <td th:text="*{user.userNm}"></td>
                    <th>성별</th>
                    <td th:text="*{gender.description}"></td>
                </tr>

                <tr>
                    <th>전직구분</th>
                    <td th:text="*{formerJobCode.formerNm}"></td>
                    <th>H.P</th>
                    <td th:text="*{phoneNum}"></td>
                    <th>사무실</th>
                    <td th:text="*{officeNum}"></td>
                    <th>집</th>
                    <td th:text="*{homeNum}"></td>
                </tr>

                <tr>
                    <th>생년월일</th>
                    <td th:text="*{birthDate}"></td>
                    <th>E-Mail</th>
                    <td th:text="*{email}"></td>
                    <th>은행</th>
                    <td th:text="*{bank}"></td>
                    <th>계좌번호</th>
                    <td th:text="*{account}"></td>
                </tr>

                <tr>
                    <th>주소</th>
                    <td colspan="7">
                        <span th:if="*{not #strings.isEmpty(address.zipCode)}"
                              th:text="|[*{address.zipCode}] *{address.roadAddress} *{address.detailAddress}|"></span>
                    </td>
                </tr>
            </table>

            <span>근무정보</span>
            <table class="table_row">
                <tr>
                    <th>구분</th>
                    <td th:text="*{educatorType.code}"></td>
                    <th>담당</th>
                    <td th:text="*{educatorAssignedTask.code}"></td>
                    <th>소속</th>
                    <td th:text="*{educatorTeam.code}"></td>
                    <th>지부</th>
                    <td th:text="*{educatorBranch.code}"></td>
                </tr>
                <tr>
                    <th>최초 임용일</th>
                    <td th:text="*{firstDayOfWork}"></td>
                    <th>주소</th>
                    <td colspan="5">
                          <span th:if="*{not #strings.isEmpty(cmpAddress.zipCode)}"
                                th:text="|[*{cmpAddress.zipCode}] *{cmpAddress.roadAddress} *{cmpAddress.detailAddress}|"></span>
                    </td>
                </tr>
            </table>

            <span>학력사항</span>
            <table class="table_row">
                <tr>
                    <th>출신학교</th>
                    <th>졸업년도</th>
                    <th>전공</th>
                    <th>학위</th>
                </tr>

                <tr th:each="educational: *{educationalList}">
                    <td th:text="${educational.schoolNm}"></td>
                    <td th:text="${educational.graduationYear}"></td>
                    <td th:text="${educational.major}"></td>
                    <td th:text="${educational.degree}"></td>
                </tr>
            </table>

            <span>근무이력</span>
            <table class="table_row">
                <tr>
                    <th>근무처</th>
                    <th>입사일</th>
                    <th>퇴사일</th>
                    <th>직위(직급)</th>
                </tr>

                <tr th:each="employment: *{employmentList}">
                    <td th:text="${employment.cmpNm}"></td>
                    <td th:text="${employment.firstDayOfWork}"></td>
                    <td th:text="${employment.lastDayOfWork}"></td>
                    <td th:text="${employment.position}"></td>
                </tr>
            </table>

            <div class="btn_box">
                <button type="button" th:text="#{button.list}" onclick="location.href='/admin/user/educators'" class="btn_other">목록</button>
                <button type="button" th:text="#{button.update}" th:onclick="pageObj.editView([[${educator.user.userId}]])" class="btn_new">수정</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
