<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/user/educator.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.user})"></div>

    <div class="content">
        <h2>지도직원 정보 수정</h2>

        <form th:action th:object="${educator}">

            <span class="detail_title">기본정보</span>
            <table class="table_row user_table">
                <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                </colgroup>
                <tr>
                    <th>아이디</th>
                    <td th:text="*{userId}"></td>
                    <th>이름</th>
                    <td>
                        <input type="text" th:field="*{userNm}" />
                    </td>
                    <th>성별</th>
                    <td>
                        <select th:field="*{gender}">
                            <option th:each="gender : ${genders}"
                                th:text="${gender.description}" th:value="${gender}"></option>
                        </select>
                    </td>
                    <th>전직구분</th>
                    <td>
                        <select th:field="*{formerJobCodeId}">
                            <option th:each="formerJobCode : ${formerJobCodes}"
                                    th:text="${formerJobCode.formerNm}" th:value="${formerJobCode.id}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>H.P</th>
                    <td>
                        <input type="text" th:field="*{phoneNum}" />
                    </td>
                    <th>사무실</th>
                    <td>
                        <input type="text" th:field="*{officeNum}" />
                    </td>
                    <th>집</th>
                    <td>
                        <input type="text" th:field="*{homeNum}" />
                    </td>
                    <th>생년월일</th>
                    <td>
                        <input type="date" th:field="*{birthDate}" />
                    </td>
                </tr>

                <tr>
                    <th>E-Mail</th>
                    <td>
                        <input type="text" th:field="*{email}" />
                    </td>
                    <th>은행</th>
                    <td>
                        <input type="text" th:field="*{bank}" />
                    </td>
                    <th>계좌번호</th>
                    <td colspan="3">
                        <input type="text" th:field="*{account}" />
                    </td>
                </tr>

                <tr>
                    <th>주소</th>
                    <td colspan="7" class="user_address">
                        <input type="text" id="zipCode" name="zipCode" readonly />
                        <button type="button" onclick="$api.addressApi()" class="btn_save">주소찾기</button>
                        <input type="text" id="roadAddress" name="roadAddress" />
                        <input type="text" id="detailAddress" name="detailAddress" />
                    </td>
                </tr>
            </table>

            <span>근무정보</span>
            <table class="table_row">
                <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                </colgroup>
                <tr>
                    <th>구분</th>
                    <td>
                        <select th:field="*{educatorTypeId}">
                            <option th:each="educatorType : ${educatorTypes}"
                                    th:text="${educatorType.code}" th:value="${educatorType.id}"></option>
                        </select>
                    </td>
                    <th>담당</th>
                    <td>
                        <select th:field="*{educatorAssignedTaskId}">
                            <option th:each="educatorAssignedTask : ${educatorAssignedTasks}"
                                    th:text="${educatorAssignedTask.code}" th:value="${educatorAssignedTask.id}"></option>
                        </select>
                    </td>
                    <th>소속</th>
                    <td>
                        <select th:field="*{educatorTeamId}">
                            <option th:each="educatorTeam : ${educatorTeams}"
                                    th:text="${educatorTeam.code}" th:value="${educatorTeam.id}"></option>
                        </select>
                    </td>
                    <th>지부</th>
                    <td>
                        <select th:field="*{educatorBranchId}">
                            <option th:each="educatorBranch : ${educatorBranches}"
                                    th:text="${educatorBranch.code}" th:value="${educatorBranch.id}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>최초 임용일</th>
                    <td>
                        <input type="date" th:field="*{firstDayOfWork}" />
                    </td>
                    <th>주소</th>
                    <td colspan="5" class="user_address">
                        <input type="text" id="cmpZipCode" name="cmpZipCode" readonly />
                        <button type="button" onclick="$api.addressApi('cmpZipCode', 'cmpRoadAddress', 'cmpDetailAddress')">주소찾기</button>
                        <input type="text" id="cmpRoadAddress" name="cmpRoadAddress" />
                        <input type="text" id="cmpDetailAddress" name="cmpDetailAddress" />
                    </td>
                </tr>
            </table>

            <div>
                <span>학력사항</span>
                <button type="button" onclick="$table.addRow('educationalTable')">입력 행 추가</button>
                <button type="button" onclick="$table.delRow('educationalTable')">선택 행 삭제</button>
            </div>

            <table id="educationalTable" class="user_table user_table_center">
                <colgroup>
                    <col width="*" />
                    <col width="25%" />
                    <col width="25%" />
                    <col width="25%" />
                    <col width="25%" />
                </colgroup>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th>출신학교</th>
                    <th>졸업년도</th>
                    <th>전공</th>
                    <th>학위</th>
                </tr>
                <tr th:each="educational : *{educationalList}">
                    <td class="table_chk">
                        <input type="checkbox" th:name="${educationalStat.count}" th:value="${educationalStat.count}" />
                    </td>
                    <td>
                        <input type="hidden" name="id" th:value="${educational.id}" />
                        <input type="text" name="schoolNm" th:value="${educational.schoolNm}" />
                    </td>
                    <td>
                        <input type="text" name="graduationYear" th:value="${educational.graduationYear}" />
                    </td>
                    <td>
                        <input type="text" name="major" th:value="${educational.major}" />
                    </td>
                    <td>
                        <input type="text" name="degree" th:value="${educational.degree}" />
                    </td>
                </tr>
            </table>

            <div>
                <span>근무이력</span>
                <button type="button" onclick="$table.addRow('employmentTable')" class="btn_other">입력 행 추가</button>
                <button type="button" onclick="$table.delRow('employmentTable')" class="btn_other">선택 행 삭제</button>
            </div>
            <table id="employmentTable" class="user_table user_table_center">
                <colgroup>
                    <col width="*" />
                    <col width="25%" />
                    <col width="25%" />
                    <col width="25%" />
                    <col width="25%" />
                </colgroup>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th>근무처</th>
                    <th>입사일</th>
                    <th>퇴사일</th>
                    <th>직위(직급)</th>
                </tr>
                <tr th:each="employment : *{employmentList}">
                    <td class="table_chk">
                        <input type="checkbox" th:name="${employmentStat.count}" th:value="${employmentStat.count}" />
                    </td>
                    <td>
                        <input type="hidden" name="id" th:value="${employment.id}" />
                        <input type="text" name="cmpNm" th:value="${employment.cmpNm}" />
                    </td>
                    <td>
                        <input type="date" name="firstDayOfWork" th:value="${employment.firstDayOfWork}" />
                    </td>
                    <td>
                        <input type="date" name="lastDayOfWork" th:value="${employment.lastDayOfWork}" />
                    </td>
                    <td>
                        <input type="text" name="position" th:value="${employment.position}" />
                    </td>
                </tr>
            </table>

            <div class="btn_box">
                <button type="button" th:text="#{button.list}" onclick="location.href='/admin/user/employees'"></button>
                <button type="button" th:text="#{button.save}" onclick="pageObj.update()" class="btn_save"></button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
