<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="form" th:object="${subjectCode}">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>과목</label>
        <input type="text" th:field="*{subject}" class="modal_long_input" />
        <span errors="subject" class="modal_error"></span>
    </div>

    <div>
        <label>내용</label>
        <textarea th:field="*{content}" class="modal_long_textarea" />
        <span errors="content" class="modal_error"></span>
    </div>
    <div class="modal_btn_box">
        <button type="button" onclick="pageObj.update()" th:text="#{button.update}" class="btn_new">수정</button>
    </div>
</div>
</section>
</body>
</html>
