<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/setting/educator.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <h2 th:text="#{menu.educator}"></h2>

        <form th:action>
            <div class="all_search_box">
                <ul class="toggle_list">
                    <li th:each="type : ${educatorCodeTypes}"
                        th:classappend="${educatorCodeType eq type}?'toggle_on'">
                        <a th:href="@{/templates/admin/setting/educator_code/{type}(type=${#strings.toLowerCase(type.name())})}"
                           th:text="${type.description}"></a>
                    </li>
                </ul>
                <div th:replace="utils/searchBar :: searchWord"></div>
            </div>

            <table>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th class="table_num" th:text="#{label.no}">No</th>
                    <th th:text="${educatorCodeType.description}"></th>
                </tr>

                <tr th:each="educatorCode : ${result.content}">
                    <td class="table_chk">
                        <input type="checkbox" th:value="${educatorCode.id}"/>
                    </td>
                    <td class="table_num"
                        th:text="${result.totalElements - (result.pageable.offset + educatorCodeStat.index)}"></td>
                    <td>
                        <a href="#" th:text="${educatorCode.code}"
                           th:onclick="pageObj.openEditPage([[${educatorCode.id}]], [[${educatorCodeType.description}]])"</a>
                    </td>
                </tr>

                <tr th:if="${result.content.size eq 0}">
                    <td colspan="3" th:text="#{data.empty}" class="empty-td"></td>
                </tr>
            </table>

            <div th:replace="utils/pagination :: pagination(${result})"></div>

            <div class="btn_box">
                <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" class="btn_del">
                    선택삭제
                </button>
                <button type="button" th:text="#{button.new}"
                        th:onclick="pageObj.openAddPage([[${educatorCodeType.description}]])" class="btn_new">등록
                </button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div th:replace="utils/modal :: modal('modal')"></div>
</section>
</body>
</html>
