<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css">
    </th:block>

    <th:block id="script">
    </th:block>

</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.training.archive})"></div>

    <div class="content">
        <h2 th:text="#{menu.training.archive.operational}"></h2>

        <form th:action>
            <div class="all_search_box">
                <ul class="toggle_list">
                    <li th:each="type : ${operationalTypes}"
                        th:classappend="${operationalType eq type}?'toggle_on'">
                        <a th:href="@{|/educator/training-archive/operational/${type.nameToUrl()}|}"
                           th:text="${type.description}"></a>
                    </li>
                </ul>
                <div th:replace="utils/searchBar :: searchWord"></div>
            </div>

            <table>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th class="table_num" th:text="#{label.no}">No</th>
                    <th th:text="#{training.archive.operational.title}">제목</th>
                    <th th:text="#{training.archive.operational.file}">첨부파일</th>
                    <th th:text="#{training.archive.operational.author}">작성자</th>
                    <th th:text="#{training.archive.operational.regDt}">작성일자</th>
                </tr>

                <tr th:each="operational : ${result.content}">
                    <td class="table_chk">
                        <input type="checkbox" th:value="${operational.id}"/>
                    </td>
                    <td class="table_num"
                        th:text="${result.totalElements - (result.pageable.offset + operationalStat.index)}"></td>
                    <td>
                        <a th:href="@{|/educator/training-archive/operational/${operational.operationalType.nameToUrl()}/${operational.id}/detail|}"
                           th:text="${operational.title}"></a>
                    </td>
                    <td th:text="O"></td>
                    <td th:text="${operational.user.userNm}"></td>
                    <td>2022-03-25</td>
                </tr>

                <tr th:if="${result.content.size eq 0}">
                    <td colspan="6" th:text="#{data.empty}" class="empty-td"></td>
                </tr>
            </table>

            <div th:replace="utils/pagination :: pagination(${result})"></div>
        </form>
    </div>
</section>
</body>
</html>
