<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div>직인 관리</div>

    <div>
        <form th:action method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>이미지</th>
                    <td></td>
                </tr>
                <tr>
                    <th>파일업로드</th>
                    <td>
                        <input type="file" />
                    </td>
                </tr>
            </table>

            <button type="submit">저장</button>
       </form>
    </div>
</section>
</body>
</html>
