<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/homepage/webtoon.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <h2>만화퇴계 수정</h2>

        <form th:action th:object="${webtoon}" method="post">
            <input type="hidden" th:field="*{id}">
            <table class="table_row">
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" th:field="*{title}" class="table_row_long_input">
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.webtoon.pdf}"></th>
                    <td>
                        <label for="pdf_input" class="file_btn">
                            <input type="file" id="pdf_input" name="pdf" class="only-input"
                                   onchange="$files.onlyInit(this, $('.pdfnames'))"/>
                        </label>
                        <div class="pdfnames">
                            <div class="file_wraper">
                                <button type="button" onclick="$files.removeFile(this)">제거</button>
                                <span th:text="*{originPdfName}"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.webtoon.img}"></th>
                    <td class="text-left">
                        <label for="img_input" class="file_btn">
                            <input type="file" id="img_input" name="img" class="only-input"
                                   onchange="$files.onlyInit(this, $('.filenames'))"/>
                        </label>
                        <div class="filenames">
                            <div class="file_wraper">
                                <button type="button" onclick="$files.removeFile(this)">제거</button>
                                <span th:text="*{originFileName}"></span>
                            </div>
                        </div>
                        <span class="comment">※이미지 업로드를 하지 않으면 PDF 첫페이지가 썸네일 이미지로 등록됩니다.*</span>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.webtoon.preview}"></th>
                    <td></td>
                </tr>
            </table>
        </form>

        <div class="btn_box">
            <button type="button" th:text="#{button.list}" onclick="location.href='/admin/homepage/media-archive/webtoon'"></button>
            <button type="button" th:text="#{button.save}" onclick="pageObj.update()" class="btn_save"></button>
        </div>
    </div>
</section>
</body>
</html>
