<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/setting/subjectCode.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.user})"></div>
    <div class="content">
        <h2 th:text="#{menu.user.educator}"></h2>

        <form th:action>
            <div class="all_search_box">
                <ul class="toggle_list">
                    <li>
                        <a href="/user/educator">전체</a>
                    </li>
                    <li th:each="type : ${educatorTypes}">
                        <a th:href="@{|/templates/admin/user/educator/${type.id}|}"
                           th:text="${type.code}"></a>
                    </li>
                </ul>
                <div th:replace="utils/searchBar :: searchWord"></div>
            </div>

            <table>
                <colgroup>
                    <col width="2%" />
                    <col width="6%" />
                    <col width="8%" />
                    <col width="8%" />
<!--                    <col width="12%" />-->
<!--                    <col width="12%" />-->
<!--                    <col width="12%" />-->
<!--                    <col width="12%" />-->
<!--                    <col width="12%" />-->
                    <col width="16%" />
                </colgroup>
                <tr>
                    <th>
                        <input type="checkbox" check="all"/>
                    </th>
                    <th th:text="#{label.no}">No</th>
                    <th th:text="#{user.name}">이름</th>
                    <th th:text="#{user.gender}">성별</th>
<!--                    <th th:text="#{user.educator.appointmentdata}">최초임용일</th>-->
<!--                    <th th:text="#{user.type}">구분</th>-->
<!--                    <th th:text="#{user.charge}">담당</th>-->
<!--                    <th th:text="#{user.belong}">소속</th>-->
<!--                    <th th:text="#{user.branch}">지부</th>-->
                    <th th:text="#{user.contact}">연락처</th>
                </tr>
            </table>

            <!--                <nav th:replace="utils/pagination :: pagination(${result})"></nav>-->

            <div class="btn_box_only">
                <button type="button" th:text="#{button.new}" onclick="pageObj.addView()" class="btn_new">등록</button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div th:replace="utils/modal :: modal('modal')"></div>
</section>
</body>
</html>
