<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <!--/* 검색어 */-->
    <div th:fragment="searchWord" th:object="${searchParam}" class="only_search_box" search="search">
        <div th:replace="utils/searchBlock :: wordSearchBar"></div>
    </div>

    <!--/* 날짜, 검색어 */-->
    <div th:fragment="searchDateWord" th:object="${searchParam}" class="all_search_box" search="search">
        <div th:replace="utils/searchBlock :: dateSearchBar"></div>
        <div th:replace="utils/searchBlock :: wordSearchBar"></div>
    </div>

    <!--/* 날짜, Select, 검색어 */-->
    <div th:fragment="searchDateSelectWord(condition)" th:object="${searchParam}" class="all_search_box" search="search">
        <div th:replace="utils/searchBlock :: dateSearchBar"></div>
        <div th:replace="utils/searchBlock :: wordSelectSearchBar"></div>
    </div>

</body>
</html>
