<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.training.school})"></div>

    <div class="content">
        <h2 th:text="#{menu.training.school.program}"></h2>

        <form th:action>
        </form>
    </div>
</section>
</body>
</html>
