<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
    </th:block>

    <th:block id="script"></th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle ('대시보드')"></div>
    <div class="checking_box media">
        <div class="dashboard_calender">
            수련일정 달력 넣어주세유
        </div>
        <div class="dashboard_all">
            <div class="dashboard_notice">
                <h2>공지사항 <a href="">more<img th:src="@{/images/common/arrow01.svg}" title="바로가기"></a></h2>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
            </div>
            <div class="dashboard_free">
                <h2>자유게시판 <a href="">more<img th:src="@{/images/common/arrow01.svg}" title="바로가기"></a></h2>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
                <dl>
                    <dt>홍길동</dt>
                    <dd>2021.10.14</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
</body>
</html>
