<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/homepage/board/gallery/regist.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <div class="sm_basic_wrap">
            <h2>포토 갤러리 등록</h2>
            <form th:action="@{/gallery/save}" method="post" id="gallery_form">
                <table class="t-table margin-t">
                    <colgroup>
                        <col width="13%"/>
                        <col width="*"/>
                    </colgroup>
                    <tr>
                        <th>제목</th>
                        <td class="text-left">
                            <input type="text" name="title" id="title" class="width-100 border-0 borderBox">
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td class="padding_0 text-left image_size">
                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                            <textarea name="contentVal" id="contentVal" cols="30" rows="10"
                                      hidden="hidden"></textarea>
                            <div id="hidden_img_box" style="display: none"></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="flex justify-between margin-t paddingTop_10 margin-b paddingBottom">
            <a th:href="@{/gallery}" class="sm-btn-white border_sm_r width-5 text-center">목록</a>
            <button type="button" onclick="ACTIONS.SAVE()" class="sm-btn-blue border_sm_r width-5">등록</button>
        </div>
    </div>
</section>
</body>
</html>