<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/homepage/popup.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.homepage})"></div>

    <div class="content">
        <h2 th:text="#{menu.homepage.popup}"></h2>

        <form th:action th:object="${popup}" method="post">
            <table class="table_row">
                <tr>
                    <th th:text="#{homepage.popup.title}"></th>
                    <td>
                        <input type="text" th:field="*{title}" class="table_row_long_input">
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.popup.link}"></th>
                    <td>
                        <input type="text" th:field="*{link}" class="table_row_long_input">
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.popup.postYn}"></th>
                    <td>
                        <select th:field="*{postYn}">
                            <option th:each="postType : ${popupPostYnTypes}"
                                    th:text="${postType.description}" th:value="${postType.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.popup.postDate}"></th>
                    <td>
                        <div>
                            <input type="radio" value="Y" th:field="*{dateSet}" id="dateY">
                            <label for="dateY">기간설정</label>

                            <input type="radio" value="N" th:field="*{dateSet}" id="dateN">
                            <label for="dateN">기간미설정(등록한 날짜부터 기약없이)</label>
                        </div>
                        <input type="date" th:field="*{postStart}">
                        <input type="date" th:field="*{postEnd}">
                    </td>
                </tr>
                <tr>
                    <th th:text="#{homepage.popup.image}"></th>
                    <td>
                        <label for="file_input" class="file_btn">
                            <input type="file" id="file_input" name="file" class="only-input"
                                   onchange="$files.onlyInit(this, $('.filenames'))"/>
                        </label>
                        <div class="filenames"></div>
                        <span class="comment">※ 최소 500 x 600, 최대 3Mb 이하의 이미지 파일만 가능합니다.</span>
                    </td>
                </tr>
            </table>
        </form>

        <div class="btn_box">
            <button type="button" th:text="#{button.list}" onclick="location.href='/admin/homepage/popup'"
                    class="btn-default"></button>
            <button type="button" th:text="#{button.new}" onclick="pageObj.save()" class="btn_new">등록</button>
        </div>
    </div>
</section>
</body>
</html>
