<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/homepage/popup/modify.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <div class="sm_basic_wrap">
            <h2>팝업 수정</h2>

            <form th:action="@{/popup/save}" method="post" id="popup_form">
                <input type="hidden" name="id" th:value="${popup.id}">
                <table class="t-table margin-t">
                    <colgroup>
                        <col width="13%"/>
                        <col width="*"/>
                    </colgroup>
                    <tr>
                        <th>제목</th>
                        <td class="text-left">
                            <input type="text" name="title" id="title" th:value="${popup.title}"
                                   class="width-100 border-0 borderBox">
                        </td>
                    </tr>
                    <tr>
                        <th>링크</th>
                        <td class="text-left">
                            <input type="text" name="link" id="link"
                                   th:value="${popup.link} != 'javascript:void(0)' ? ${popup.link} : ''"
                                   class="width-100 border-0 borderBox">
                        </td>
                    </tr>
                    <tr>
                        <th>게시여부</th>
                        <td class="text-left">
                            <select name="postYn" id="postYn" th:value="${popup.postYn}"
                                    class="basicSelect width-10">
                                <option value="Y" selected>게시</option>
                                <option value="N">미게시</option>
                            </select>

                            <span style="font-size:80%; color:#777;">※ 최대 2개의 게시물이 게시됩니다.</span>
                        </td>
                    </tr>
                    <tr>
                        <th>게시기간</th>
                        <td class="text-left">
                            <div class="flex justify-start align-center paddingLeft_5">
                                <div class="radio_checks">
                                    <input type="radio" id="set_date" name="dateSet" value="Y"
                                           th:checked="${popup.dateSet} == 'Y'">
                                    <label for="set_date">기간설정</label>
                                </div>
                                <div class="radio_checks">
                                    <input type="radio" id="none_set_date" name="dateSet" value="N"
                                           th:checked="${popup.dateSet} == 'N'">
                                    <label for="none_set_date">기간미설정(등록한 날짜부터 기약없이)</label>
                                </div>
                                <div class="paddingLeft_5 width-40 flex align-center">
                                    <input type="text" class="datepicker basicInput border_sm_r margin-r"
                                           id="postStart" name="postStart"
                                           th:value="${popup.postStart} != null ? ${popup.postStart} : ''" readonly
                                           placeholder="시작일을 선택해주세요.">
                                    <div class="margin-r">~</div>
                                    <input type="text" class="datepicker basicInput border_sm_r margin-r"
                                           id="postEnd" name="postEnd"
                                           th:value="${popup.postEnd} != null ? ${popup.postEnd} : ''" readonly
                                           placeholder="종료일을 선택해주세요.">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>이미지</th>
                        <td class="text-left">
                            <button id="btn_upload" type="button">파일 업로드</button>
                            <input type="file" id="input_file" accept="image/*" style="display: none;"/>
                            <span style="font-size:80%; color:#777;">※ 최소 500 x 600 사이즈의 이미지 파일만 가능합니다.</span>
                        </td>
                    </tr>
                    <tr>
                        <th>파일명</th>
                        <td class="text-left" id="image_name_box">
                            <span id="none_name">이미지가 없습니다.</span>
                        </td>
                    </tr>
                    <tr style="height: 500px">
                        <th>미리보기</th>
                        <td class="text-left" id="preview_box">
                            <span id="none_preview">이미지가 없습니다.</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="flex justify-between margin-t paddingTop_10 margin-b paddingBottom">
            <a th:href="@{/popup}" class="sm-btn-white border_sm_r width-5 text-center">목록</a>
            <button type="button" onclick="ACTIONS.SAVE()" class="sm-btn-blue border_sm_r width-5">등록</button>
        </div>
    </div>
</section>
</body>
</html>