<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/educator/training_archive/lesson.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.training.archive})"></div>

    <div class="content">
        <h2 th:text="#{menu.training.archive.lesson}"></h2>

        <form th:action th:object="${lesson}" method="post">
            <table class="table_row">
                <tr>
                    <th th:text="#{training.archive.lesson.title}"></th>
                    <td th:text="*{title}"></td>
                </tr>
                <tr>
                    <th th:text="#{training.archive.lesson.content}"></th>
                    <td th:text="*{content}"></td>
                </tr>
            </table>
        </form>

        <div class="btn_box">
            <button type="button" th:text="#{button.list}"
                    th:onclick="|location.href='@{/educator/training-archive/lesson/{type}(type=${gradeType.nameToUrl()})}'|"></button>

            <button type="button" th:text="#{button.update}" class="btn_new"
                    th:onclick="|location.href='@{/educator/training-archive/lesson/{type}/{id}/edit(type=${gradeType.nameToUrl()}, id=${lesson.id})}'|">
            </button>
        </div>
    </div>
</section>
</body>
</html>