/********************************nav********************************/

nav {
    position: fixed;
    width: 240px;
    height: 100vh;
    overflow-y: auto;
    left: 0;
    z-index: 9;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

nav::-webkit-scrollbar {
    width: 8px;
}
nav::-webkit-scrollbar-track {
    background-color: #fff;
}

.nav_admin {
    background: #121212;
}

.nav_admin::-webkit-scrollbar-thumb {
    background-color: #121212;
}

.nav_manager {
    background: #19212c;
}

.nav_manager::-webkit-scrollbar-thumb {
    background-color: #19212c;
}

.nav_user {
    background: #1e2d42;
}

.nav_user::-webkit-scrollbar-thumb {
    background-color: #1e2d42;
}

.logo {
    padding: 2.5em;
}

.logo img {
    width: 100%;
}

nav ul li a, nav ul li span {
    position: relative;
    display: block;
    padding: 1em;
    color: #fff;
    opacity: .6;
    cursor: pointer;
}

nav ul li a img, nav ul li span img {
    width: 100%;
    max-width: 20px;
    margin-right: 1em;
    vertical-align: sub;
}

nav ul li ul {
    border-left: 1px solid #7b7b7b;
    margin: 1em 0 1em 1em;
    display: none;
}

nav ul li ul li a {
    padding: 0 0 1em 1em;
    font-size: 90%;
}

nav ul li ul li:last-of-type a {
    padding: 0 0 0 1em;
}

.nav_on li a, .nav_on span, .nav_on a {
    border-left: 4px solid #006aff;
    background: #2c3544;
    opacity: 1;
}

.nav_on li a img, .nav_on span img {
    margin-left: -3px;
}

.nav_on ul li a {
    border-left: 0;
    background: transparent;
    opacity: .6;
}

.nav_on ul li a:hover, .nav_on_sub a {
    opacity: 1 !important;
    color: #fff !important;
}


.nav_off {
    position: fixed;
    bottom: 1em;
    left: 180px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: Center;
    padding: 15px;
    background: #006aff;
    cursor: pointer;
    z-index: 99;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.nav_off img {
    width: 100%;
}

.close_header {
    width: 0;
    left: -240px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.menu_close {
    left: 1em;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.menu_close img {
    transform: rotate(180deg);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.content_width {
    padding: 1.5em !important;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

/********************************content********************************/

.wrap {
    position: Relative;
    width: 100%;
    overflow-x: auto;
}

.container {
    position: relative;
    width: 100%;
    min-width: 960px;
    min-height: 100vh;
    vertical-align: top;
    padding: 1.5em 1.5em 0 270px;
    overflow-x: auto;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
}

.page_title {
    position: Relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page_title h1 {
    font-size: 180%;
}

.page_title ul {
    position: Relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.page_title ul li {
    font-size: 95%;
}

.page_title ul li:first-of-type {
    margin-right: 1em;
}

.page_title ul li em {
    margin-right: 0.2em;
}

.page_title ul li span {
    font-size: 120%;
}

.page_title ul li a img {
    width: 100%;
    max-width: 20px;
    margin: 0 5px;
}

.content {
    position: Relative;
    width: 100%;
    min-height: calc(100vh - 6.5rem);
    border-radius: 5px;
    background: #fff;
    margin: 1.6em 0;
    padding: 1.5em;
}

.content h2 {
    padding-bottom: 1em;
}

.pagination {
    position: relative;
    padding: 0 0 1em 0;
}

.pagination ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pagination ul li button {
    border: 0;
    background: transparent;
    padding: 0 8px;
    font-size: 100%;
    color: #e2e2e2;
    font-weight: 300;
}

.pagination_arrow img {
    width: 100%;
    max-width: 10px;
}

.pagination_active button{
    color: #223351 !important;
    font-weight: 700 !important;
}

/********************************table********************************/

table {
    width: 100%;
    margin: 1em 0;
    text-align: center;
    font-size: 95%;
}

table th {
    border: 1px solid #cfd2e0;
    padding: 0.5em;
    background: #fafbfd;
    color: #4b505b;
    font-weight: 400;
}

.table_chk {
    width: 30px;
}

.table_num {
    width: 6%;
}

table td {
    border: 1px solid #cfd2e0;
    background: #fff;
    height:40px;
    padding:0.3em;
}

table a:hover {
    color: #f15958;
}

.table_row {
    margin:0 0 1em 0;
}

.table_row th {
    width: 10%;
}

.table_row td {
    text-align: left;
}

.table_row td em {
    padding-left:0.5em;
}

.table_row_long_input {
    width:50%;
}

.table_row_full_input {
    width:100%;
}

.table_row_textarea {
    padding:0;
}

.table_row_textarea textarea {
    display:none;
}

.file_upload_box {
    position:relative;
    display:block;
    margin:0 0 0.5em 0;
}

.empty-td {
    height:580px;
}

.detail_content_td {
    vertical-align:top;
    height:630px;
}

.detail_content_td img {
    width:100%;
    max-width:580px;
}

.td_text_gray {
    font-size:95%;
    color:#a3a3a3;
}

.comment {
    display:block;
    font-size:80%;
    color:#777;
    padding:10px 0 5px 0;
}

.notification td {
    background:#f6f6f6;
}

/********************************input********************************/

input, select {
    border: 1px solid #cfd2e0;
    border-radius: 3px;
}

input[type="text"], input[type="password"],  input[type="date"]{
    padding: 0.4em 0 0.4em 0.5em;
}

select {
    width:100%;
    max-width:114px;
    padding: 0.4em 0;
}

input[type="date"] {
    width:100%;
    max-width:145px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #cfd2e0;
    border-radius: 2px;
    background: #fff;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background: url("../images/common/input-check.png") no-repeat center center;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:checked {
    background-color: #f15958;
    border: 1px solid #f15958
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}

input[type="radio"] {
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: -0.1rem;
    width: 0.1rem;
    height: 0.1rem;
    clip: rect(0,0,0,0);
    border: 0;
}

input[type="radio"] + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding:0.3em 1em 0.5em 0;
    font-size:90%;
}

input[type="radio"] + label:before {
    content: "";
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid #cfd2e0;
    border-radius: 50%;
    top: 0;
    transform: translate(0);
    display: inline-block;
    background: #fff;
    margin-right: 4px;
    vertical-align: top;
}

input[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #f15958;
    border: 1px solid #f15958;
}

input[type="file"] {
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: -0.1rem;
    width: 0.1rem;
    height: 0.1rem;
    clip: rect(0,0,0,0);
    border: 0;
}

.file_btn {
    display:inline-block;
    background:#223351;
    color:#fff;
    padding:0.5em 1em;
    border-radius:2px;
    cursor:pointer;
}

.file_btn:before {
    display: none;
}

.file_btn:after{
    content:"파일업로드";
}

textarea {
    border: 1px solid #cfd2e0;
    resize: none;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em;
    line-height: 1.5;
}

.textarea_height {
    height:130px;
}

.only_search_box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%
}

.search {
    width: 280px;
    border-radius: 3px 0 0 3px;
    border-right: 0;
    margin-left:5px;
}

.search_btn {
    border: 1px solid #cfd2e0;
    background: #fafbfd;
    border-radius: 0 3px 3px 0;
}

.all_search_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.date_search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.date_chose {
    display:flex;
}

.date_chose span {
    display:inline-block;
    margin:8px 5px 0 5px;
}

.date_chose button {
    margin:0 0 0 5px;
    min-width:70px;
}

.toggle_list {
    display: flex;
    width: 100%;
}

.toggle_list li a {
    padding: 0.53em 1em;
    border: 1px solid #cfd2e0;
    margin: 0 5px 0 0;
    color: #21252f;
    border-radius: 5px;
    font-size: 90%;
    display: block;
    min-width: 91px;
    text-align: center;
}

.toggle_on a {
    background:#223351;
    border: 1px solid #223351 !important;
    color:#fff !important;
}

.error_text {
    display:block;
    font-size:85%;
    color:#de284a;
    margin:0.5em 0;
}

/********************************button********************************/

button {
    border-radius: 3px;
    padding: 0.55em 1em;
    border: 1px solid #cfd2e0;
    background: #fff;
    color: #21252f;
    font-weight: 500;
}

.btn_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_box_only {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.btn_box button, .btn_box_only button {
    min-width: 78px;
}

.btn_box_margin {
    margin-top:1em;
}

.btn_new {
    background: #0068ff;
    border: 1px solid #0068ff;
    color: #fff;
}

.btn_edit {
    background: #483cad;
    border: 1px solid #483cad;
    color: #fff;
}

.btn_del {
    border: 1px solid #f25858;
    color: #f25858;
}

.btn_save {
    background: #223351;
    border: 1px solid #223351;
    color: #fff;
}

.btn_print {
    background: #394e86;
    border: 1px solid #394e86;
    color: #fff;
}

.btn_other {
    color: #738095;
    font-size: 80%;
    padding: 0.4em 0.5em;
    font-weight: 400;
}

.btn_green {
    background: #06a376;
    border: 1px solid #06a376;
    color: #fff;
}

.btn_blue {
    background: #dae1eb;
    border: 1px solid #dae1eb;
    color: #2d3d56;
}

.btn_blue_line {
    border: 1px solid #223351;
    color: #223351;
}

.btn_red {
    background: #f25858;
    border: 1px solid #f25858;
    color: #fff;
}

.btn_gray {
    background: #969495;
    border: 1px solid #969495;
    color: #fff;
}

.btn_gray_line {
    color: #95a1ba;
}

.text_btn {
    border-radius: 0;
    padding: 0 5px;
    min-width: auto;
    font-weight: 500;
    background: transparent;
    border: 0;
}

.btn_text_red {
    color: #f25858;
}

.btn_text_blue {
    color: #0068ff;
}

.btn_text_black {
    color: #212121;
}

/********************************mypage*******************************/

.admin_mypage {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
    margin-top:2em;
}

.admin_mypage input, .admin_mypage button {
    width:100%;
    margin:0.5em 0;
}


/********************************dashboard********************************/

