@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: keep-all;
    font-family: "Noto sans kr", sans-serif !important;
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block;
    border: 0;
    *margin: 0;
    *padding: 0;
    *font-size: 0
}

input, input::placeholder  {
    font-family: "Noto sans kr", sans-serif !important;
}

input:focus, textarea:focus, select:focus {
    outline:none;
    border:1px solid #8fb5f3;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img, iframe {
    border: 0
}

ul, ol {
    list-style: none;
}

caption, legend {
    display: none
}

html, body {
    width: 100%;
    background: #fff;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 100%;
    color: #21252f;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#21252f;
}

a[href^="tel"] {
    font-style: normal
}

em, i {
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 100%;
}

body {
    -webkit-overflow-scrolling: touch;
    background:#f0f1f5;
}

button {
    cursor: pointer;
}