<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/setting/formerJobCode.js}"></script>
    </th:block>
</head>
<body>
    <section>
        <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

        <div class="content">
            <h2 th:text="#{menu.formerCode}"></h2>

            <form th:action>
                <div th:replace="utils/searchBar :: searchWord"></div>

                <table>
                    <tr>
                        <th class="table_chk">
                            <input type="checkbox" check="all"/>
                        </th>
                        <th class="table_num" th:text="#{label.no}">No</th>
                        <th th:text="#{formerCode.formerName}">전직</th>
                    </tr>

                    <tr th:each="formerCode : ${result.content}">
                        <td class="table_chk">
                            <input type="checkbox" th:value="${formerCode.id}"/>
                        </td>
                        <td class="table_num" th:text="${result.totalElements - (result.pageable.offset + formerStat.index)}"></td>
                        <td>
                            <a href="#" th:text="${formerCode.formerName}" th:onclick="|pageObj.openEditPage(${formerCode.id})|"</a>
                        </td>
                    </tr>

                    <tr th:if="${result.content.size eq 0}">
                        <td colspan="3" th:text="#{data.empty}" class="empty-td"></td>
                    </tr>
                </table>

                <div th:replace="utils/pagination :: pagination(${result})"></div>

                <div class="btn_box">
                    <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" class="btn_del">선택삭제</button>
                    <button type="button" th:text="#{button.new}" onclick="pageObj.openAddPage()" class="btn_new">등록</button>
                </div>
            </form>
        </div>

        <!-- Modal -->
        <div th:replace="utils/modal :: modal('modal')"></div>
    </section>
</body>
</html>
