<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script th:src="@{/js/setting/curriculum.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle ('설정')"></div>

    <h2>교육과목 관리</h>

    <ul>
        <li th:each="type : ${curriculumTypes}">
            <a th:href="@{|/setting/curriculum/${#strings.toLowerCase(type.name())}|}"
               th:text="${type.description}"></a>
        </li>
    </ul>

    <form th:action method="get">
        <div>
            <input type="text" name="searchWorld"/>
            <button type="submit">검색</button>
        </div>
    </form>

    <table>
        <tr>
            <th>No</th>
            <th>과목</th>
            <th>내용</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>

<!--        <tr th:each="curriculum : ${curriculum.list}">-->
<!--            <td th:text="${curriculumStat.size - curriculumStat.index}"></td>-->
<!--            <td th:text="${curriculum.subject}"></td>-->
<!--            <td th:text="${curriculum.content}"></td>-->
<!--            <td th:text="${curriculum.createdBy}"></td>-->
<!--            <td th:text="${curriculum.createdAt}"></td>-->
<!--        </tr>-->
    </table>

    <button type="button">선택삭제</button>
    <button type="button" onclick="page.saveForm()">등록</button>

    <div th:replace="layout/modal :: modal('modal')"></div>
</section>
</body>
</html>
