<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/admin/homepage/board.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.homepage})"></div>

    <div class="content">
        <h2 th:text="|${boardType.description} 상세|"></h2>

            <table class="table_row">
                <tr>
                    <th th:text="#{homepage.board.title}"></th>
                    <td th:text="${board.title}"></td>
                </tr>
                <tr>
                    <th th:text="#{homepage.board.content}"></th>
                    <td th:utext="${board.content}" class="detail_content_td"></td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td>
                        <ul>
                            <li th:each="file : ${board.files}">
                                <a th:href="@{|/admin/homepage/board/${board.boardType.nameToUrl()}/attach/${board.id}/${file.id}|}" th:text="${file.originFilename}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>

        <div class="btn_box">
            <button type="button" th:text="#{button.list}"
                    th:onclick="|location.href='@{/admin/homepage/board/{type}(type=${boardType.nameToUrl()})}'|"></button>
            <button type="button" th:text="#{button.update}"
                    th:onclick="|location.href='@{/admin/homepage/board/{type}/{id}/edit(type=${boardType.nameToUrl()}, id=${board.id})}'|"
                    class="btn_edit"></button>
        </div>
    </div>
</section>
</body>
</html>