<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>

<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.board})"></div>

    <div class="content">
        <form th:action>
            <div class="only_search_box">
                <div th:replace="utils/searchBar :: searchWord"></div>
            </div>

            <table>
                <colgroup>
                    <col width="2%" />
                    <col width="6%" />
                    <col width="62%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr>
                    <th class="table_chk">
                        <input type="checkbox" check="all"/>
                    </th>
                    <th class="table_num" th:text="#{label.no}">No</th>
                    <th th:text="#{board.title}">제목</th>
                    <th th:text="#{board.writer}">작성자</th>
                    <th th:text="#{board.comment}">댓글</th>
                    <th th:text="#{board.registDate}">작성일자</th>
                </tr>
                <tr th:each="board : ${result.content}">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    <td th:text="${boardStat.count}"></td>
                    <td>
                        <a th:href="@{/templates/admin/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.comments.size()}"></td>
                    <td th:text="${board.createdAt}"></td>
                </tr>
            </table>

            <div class="btn_box">
                <button type="button" th:text="#{button.select.delete}" onclick="pageObj.delete()" class="btn_del">선택삭제</button>
                <button type="button" th:text="#{button.new}" onclick="location.href='/admin/board/add'" class="btn_new">등록</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
