<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script"></th:block>
</head>
<body>
    <section>
        <div>지도위원 등록</div>

        <form th:action th:object="${user}" method="post">
            <table>
                <tr>
                    <th>아이디</th>
                    <td>
                        <div>
                            <input type="text" th:field="*{userId}" />
                            <span th:errors="*{userId}"></span>
                        </div>
                    </td>
                    <th>이름</th>
                    <td>
                        <input type="text" th:field="*{userNm}" />
                        <span th:errors="*{userNm}"></span>
                    </td>
                    <th>성별</th>
                    <td>
                        <select>
                            <option value="남" label="남" />
                            <option value="여" label="여" />
                        </select>
                    </td>
                    <th>전직구분</th>
                    <td></td>
                </tr>

                <tr>
                    <th>H.P</th>
                    <td>
                        <input type="text" th:field="*{phoneNum}" />
                    </td>
                    <th>사무실</th>
                    <td>
                        <input type="text" th:field="*{officeNum}" />
                    </td>
                    <th>집</th>
                    <td>
                        <input type="text" th:field="*{homeNum}" />
                    </td>
                    <th>생년월일</th>
                    <td>
                        <input type="date" th:field="*{dateOfBirth}" />
                    </td>
                </tr>

                <tr>
                    <th>E-mail</th>
                    <td>
                        <input type="text" th:field="*{email}" />
                        <span th:errors="*{email}"></span>
                    </td>
                    <th>은행</th>
                    <td>
                        <input type="text" th:field="*{bank}" />
                    </td>
                    <th>계좌번호</th>
                    <td>
                        <input type="text" th:field="*{accountNum}" />
                    </td>
                    <th>지역</th>
                    <td>
                        <input type="date" th:field="*{area}" />
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="3">
                        <input type="text" th:field="*{address.zipCode}" disabled/>
                        <button type="button" onclick="addressApi('address.zipCode', 'address.roadAddress', 'address.detailAddress')">주소 찾기</button>
                        <input type="text" th:field="*{address.roadAddress}" />
                        <input type="text" th:field="*{address.detailAddress}" />
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>구분</th>
                    <td></td>
                    <th>최초 임용일</th>
                    <td>
                        <input type="date" th:field="*{appointmentDt}" />
                    </td>
                    <th>퇴직일</th>
                    <td>
                        <input type="date" th:field="*{retirementDt}" />
                    </td>
                    <th>지부</th>
                    <td>
                        <input type="text" th:field="*{branch}" />
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td colspan="3">
                        <input type="text" th:field="*{cmpAddress.zipCode}" disabled/>
                        <button type="button" onclick="addressApi('cmpAddress.zipCode', 'cmpAddress.roadAddress', 'cmpAddress.detailAddress')">주소 찾기</button>
                        <input type="text" th:field="*{cmpAddress.roadAddress}" />
                        <input type="text" th:field="*{cmpAddress.detailAddress}" />
                    </td>
                </tr>
            </table>

            <button type="button"
                    onclick="location.href='/members/user'">목록</button>
            <button type="submit">저장</button>
       </form>
    </section>
</body>
</html>
