<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/homepage/data/webtoon/detail.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.setting})"></div>

    <div class="content">
        <div class="sm_basic_wrap">
            <h2>만화퇴계 상세</h2>

            <table class="t-table margin-t">
                <colgroup>
                    <col width="13%"/>
                    <col width="*"/>
                </colgroup>
                <tr>
                    <th>제목</th>
                    <td th:text="${webtoon.title}"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="${webtoon.author}"></td>
                </tr>
                <tr>
                    <th>작성일자</th>
                    <td th:text="${webtoon.regDt}"></td>
                </tr>
                <tr>
                    <th>업로드 된 파일</th>
                    <td>
                        <div class="attach_file">
                            <div class="filenameElement">
                                <a href="javascript:void(0)" th:id="|pdf_${webtoon.pdfId}|"
                                   onclick="ACTIONS.PDF_OPEN(this)"><i class="xi-save"></i> [[${pdfName}]]</a>
                            </div>
                        </div>
                        <div class="attach_file">
                            <div class="filenameElement">
                                <a th:href="@{/admin/homepage/file/download/{id}(id=${webtoon.previewId})}">
                                    <i class="xi-save"></i> [[${previewName}]]</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>썸네일</th>
                    <td class="image_size">
                        <img th:src="@{/admin/homepage/file/preview/{id}(id=${webtoon.previewId})}" alt="썸네일">
                    </td>
                </tr>
            </table>
        </div>
        <div class="flex justify-between margin-t margin-b text-center">
            <div class="f_left">
                <a th:href="@{/webtoon}" class="sm-btn-white border_sm_r width-5">목록</a>
            </div>
            <div class="flex justify-end gap_lr">
                <a th:href="@{/webtoon/modify/{id}(id=${webtoon.id})}"
                   class="sm-btn-border-gray border_sm_r width-5">수정</a>
                <a href="javascript:void(0)" th:onclick="ACTIONS.DELETE([[${webtoon.id}]])"
                   class="sm-btn-border-red border_sm_r width-5">삭제</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>