<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::#css}, ~{::#script}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="css"></th:block>

    <th:block id="script">
        <script type="text/javascript" th:src="@{/js/user.js}"></script>
    </th:block>
</head>
<body>
<section>
    <div th:replace="layout/pageTitle :: pageTitle (#{menu.user})"></div>

    <div class="content">
        <h2 th:text="#{menu.user.employees.new}"></h2>

        <form th:action th:object="${employee}">

            <span>기본정보</span>
            <table>
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" th:field="*{userId}" />
                        <button type="button" id="checkId" onclick="pageObj.checkId()" value="N">중복체크</button>
                        <div id="checkIdMsg"></div>
                    </td>
                    <th>패스워드</th>
                    <td>
                        <input type="password" th:field="*{password}" />
                    </td>
                    <th>이름</th>
                    <td>
                        <input type="text" th:field="*{userNm}" />
                    </td>
                    <th>성별</th>
                    <td>
                        <select th:field="*{gender}">
                            <option th:each="gender : ${genders}"
                                th:text="${gender.description}" th:value="${gender}"></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>전직구분</th>
                    <td>
                        <select th:field="*{formerId}">
                            <option th:each="former : ${formers}"
                                th:text="${former.formerName}" th:value="${former.id}"></option>
                        </select>
                    </td>
                    <th>H.P</th>
                    <td>
                        <input type="text" th:field="*{phoneNum}" />
                    </td>
                    <th>사무실</th>
                    <td>
                        <input type="text" th:field="*{officeNum}" />
                    </td>
                    <th>집</th>
                    <td>
                        <input type="text" th:field="*{homeNum}" />
                    </td>
                </tr>

                <tr>
                    <th>생년월일</th>
                    <td>
                        <input type="date" th:field="*{birth}" />
                    </td>
                    <th>E-Mail</th>
                    <td>
                        <input type="text" th:field="*{email}" />
                    </td>
                    <th>은행</th>
                    <td>
                        <input type="text" th:field="*{bank}" />
                    </td>
                    <th>계좌번호</th>
                    <td>
                        <input type="text" th:field="*{accountNum}" />
                    </td>
                </tr>

                <tr>
                    <th>주소</th>
                    <td colspan="7">
                        <input type="text" id="zipCode" name="address.zipCode" disabled />
                        <button type="button" onclick="$api.addressApi()">주소찾기</button>
                        <input type="text" id="roadAddress" name="address.roadAddress" />
                        <input type="text" id="detailAddress" name="address.detailAddress" />
                    </td>
                </tr>
            </table>

            <div>
                <button type="button" th:text="#{button.list}" onclick="location.href='/user/employees'">목록</button>
                <button type="button" th:text="#{button.new}" onclick="pageObj.save()">등록</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
